# Рекомендуемые версии из методички (п. Рекомендации)
torch==2.4.1
torchvision==0.19.1

# Обработка данных, разбиение, метрики
numpy>=1.26.0
scikit-learn>=1.5.0

# Визуализация и отрисовка графиков
matplotlib>=3.8.0

# Запуск ноутбука
jupyterlab>=4.0.0

# Работа с изображениями (требуется torchvision)
pillow>=10.0.0
